[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-tags-input = {git = "https://github.com/wdr-data/django-tags-input.git",ref = "9e751854bd658a661b2849dd2b5a7712fc48d85c"}
dj-config-url = "*"
"psycopg2-binary" = "*"
whitenoise = "*"
gunicorn = "*"
eventlet = "*"
django-storages = "*"
"boto3" = "*"
"django-sortedm2m" = "*"
django-sortedm2m-filter-horizontal-widget = {git = "https://github.com/wdr-data/sortedm2m-filter-horizontal-widget.git",ref = "b66e85ad3e7c8c55ef78f1ce7bb962f8d50fe6c1"}
pillow = "*"
requests = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-tz-detect = "*"
raven = "*"
django-oauth-toolkit = "*"
django-emoji-picker = "*"
django-s3direct = {git = "https://github.com/wdr-data/django-s3direct.git",ref = "ace978bc242ba237a331d2fe5ac26e45e77f2d72"}

[dev-packages]
ansible = "*"
"heroku3" = "*"
boto = "*"
pylint = "*"

[requires]
python_version = "3.6"
