[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-tags-input = {git = "https://github.com/wdr-data/django-tags-input.git",ref = "c7c486e09754b98f3583f581957cfdf9e4e461a8"}
dj-config-url = "*"
"psycopg2-binary" = "*"
whitenoise = "*"
gunicorn = "*"
eventlet = "*"
django-storages = "*"
"boto3" = "*"
"django-sortedm2m" = "*"
pillow = "*"
requests = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-tz-detect = "*"
raven = "*"
django-oauth-toolkit = "*"
django-emoji-picker = "*"
django-s3direct = {git = "https://github.com/wdr-data/django-s3direct.git",ref = "f7079cb9a48ebb0d697325ed7116ff8dc4aeb36b"}
dialogflow = "*"
django-admin-object-actions = "*"
django-crum = "*"
httpx = "*"
pyopenssl = "*"

[dev-packages]
ansible = "*"
"heroku3" = "*"
boto = "*"
pylint = "*"

[requires]
python_version = "3.8"
