[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
manage = "python app/manage.py"
format = "black app/"

[packages]
django = "*"
dj-config-url = "*"
psycopg2-binary = "*"
whitenoise = "*"
gunicorn = "*"
eventlet = "*"
django-storages = "*"
boto3 = "*"
django-sortedm2m = "*"
pillow = "*"
requests = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-tz-detect = "*"
raven = "*"
django-oauth-toolkit = "*"
django-emoji-picker = "*"
dialogflow = "*"
django-admin-object-actions = "*"
django-crum = "*"
httpx = "*"
pyopenssl = "*"
django-reverse-admin = "*"
ref = "f7079cb9a48ebb0d697325ed7116ff8dc4aeb36b"
