
div.maxlength {
    padding-left: 10px;
    padding-top: 10px;
}

@media (min-width: 767px) {
    div.maxlength {
        padding-top: 8px;
        margin-left: 170px;
    }

    .dep-container > .maxlength {
        margin-left: 0;
    }

    /* TabularInline */
    tr > td > div.maxlength {
        margin-left: 0;
    }
}

@media (min-width: 1025px) {
    div.maxlength {
        padding-left: 8px;
        padding-top: 6px;
    }
}

.select2-container--admin-autocomplete .select2-selection--single .select2-selection__clear {
    color: red;
    font-size: x-large;
}

body.model-report .field-summary label,
body.model-report .field-subtype label
{
    font-weight: bold;
    color: #333;
}

/* styles for stacked inlines */
div.inline-group.ui-sortable div.inline-related.has_original h3 {
    background: #f8f8f8 !important;
    position: relative;
    padding-left: 14em;
}
div.inline-group.ui-sortable h3::before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 13.5em;
    background: url(../../adminsortable2/icons/drag.png) repeat;
}

.module {
    position: relative;
}

@media (max-width: 767px) {
    div.inline-group.ui-sortable div.inline-related.has_original h3 {
        padding-left: 6em;
    }
    div.inline-group.ui-sortable h3::before {
        width: 5.5em;
    }

    form .aligned p.help, form .aligned div.help {
        margin-left: 0;
    }
}
