{% extends "admin/change_form.html" %}
{% block after_related_objects %}
{{ block.super}}
<script type="text/javascript">
django.jQuery(document).ready(function () {
    var unsaved = false;

    $(":input").change(function(){ //trigers change in all input fields including text type
        unsaved = true;
    });

    $('.submit-row > input').click(function() {
        unsaved = false;
    });

    function unloadPage(){
        if(unsaved){
            return "Du hast ungespeicherte Änderungen!";
        }
    }

    window.onbeforeunload = unloadPage;
});
</script>

{% load tz_detect %}
{% tz_detect %}

{% endblock %}