{% extends "admin/change_form.html" %}
{% load static %}

{% block extrahead %}
    <script type="text/javascript" src="{% static "cms/js/sorted_m2m_fix.js" %}"></script>

    {{ block.super }}
{% endblock %}

{% block extrastyle %}
    {{ block.super }}

    <link rel="stylesheet" type="text/css" href="{% static "cms/css/admin-extra.css" %}" />
{% endblock %}

{% block admin_change_form_document_ready %}
    {{ block.super }}

    <script type="text/javascript" src="{% static "cms/js/unsaved_changes.js" %}"></script>
    <script type="text/javascript" src="{% static "cms/js/jquery.maxlength.min.js" %}"></script>
    <script type="text/javascript" src="{% static "cms/js/maxlength.js" %}"></script>

    {% load tz_detect %}
    {% tz_detect %}
{% endblock %}